.liveSelect
  width: 400px !important

  \:global(.ant-select-selector)
    border-bottom-right-radius: 0
    border-top-right-radius: 0

.reloadButton
  border-top-left-radius: 0
  border-bottom-left-radius: 0