# nwjs
*.html
*.dll
*.log
*.nexe
*.bin
*.pak
*.dat
chromedriver.exe
nw.exe
nwjc.exe
payload.exe
pnacl
locales
swiftshader

# nwjs mac
nwjs.app
chromedriver
minidump_stackwalk
nwjc
payload

# dependent
dependent/ffmpeg/ffmpeg.exe
dependent/ffmpeg/ffmpeg
dependent/ffmpeg/licenses

# output
output/*.flv
output/*.mp4
output/*.m3u8
output/*.xls
output/*.xlsx
output/*.txt

# webstorm
.idea