@use '../../../common' as common

.tips
  padding: 3px 4px
  vertical-align: 6px
  border: 1px dashed common.$dust-red
  color: common.$dust-red

@media (prefers-color-scheme: dark)
  .tips
    border: 1px dashed common.$dust-red-dark
    color: common.$dust-red-dark

.ffmpegIcon
  font-size: 22px
  vertical-align: -10px !important