.body
  padding: 10px
.title
  margin-bottom: 10px
  font-size: 16px
.linkGroup
  margin-bottom: 20px
  dt
    margin: 0 auto 10px
    width: 150px
    height: 150px
    overflow: hidden
    border: 3px solid #b1b1b1
    border-radius: 5px
  img
    width: 100%
    height: 100%
  dd
    font-size: 14px
    text-align: center
