.body
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.btn, .textList, .video
  position: absolute

.videobox
  z-index: 1
  top: 0
  bottom: 0
  left: 0

  .video
    height: 100%

.btn
  z-index: 3
  top: 30px
  right: 30px

.textList
  z-index: 2
  top: 90px
  right: 15px

.text
  margin-bottom: 10px
  font-size: 14px

  b
    margin-right: 5px