.body
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
.btn, .textList
  position: absolute
  top: 30px
.btn
  right: 30px
.textList
  left: 30px
.text
  margin-bottom: 10px
  font-size: 16px
  b
    margin-right: 5px

