$text: rgba(0, 0, 0, 0.88)           // 文字颜色
$text-dark: rgba(255, 255, 255, .85) // 暗黑模式下的文字颜色
$dust-red: #ff4d4f                   // 红色
$dust-red-dark: #dc4446              // 暗黑模式红色
$daybreak-blue: #1677ff              // 蓝色
$daybreak-blue-hover: #69b1ff        // 蓝色 hover
$daybreak-blue-dark: #1668dc         // 暗黑模式蓝色
$daybreak-blue-dark-hover: #15417e   // 暗黑模式蓝色 hover
$cyan: #13c2c2                       // 青色
$cyan-dark: #13a8a8                  // 暗黑模式青色

// 红色提示文字
.tips
  color: $dust-red

// 链接
.link
  color: $daybreak-blue
  transition: color .3s
  cursor: pointer

  &:hover
    color: $daybreak-blue-hover

.primaryText
  color: $cyan

@media (prefers-color-scheme: dark)
  .text
    color: $text-dark

  .tips
    color: $dust-red-dark

  .link
    color: $daybreak-blue-dark

    &:hover
      color: $daybreak-blue-dark-hover

  .primaryText
    color: $cyan-dark

// 修复rc-virtual-list组件的暗黑模式下滚动条颜色
@media (prefers-color-scheme: dark)
  .virtualList :global(.rc-virtual-list-scrollbar-thumb)
    background: rgba(255, 255, 255, .5) !important