$p: 10px // 间隔

.toolsBox, .tableBox
  padding: $p
.toolsBox
  border-bottom: 1px solid #e9e9e9
  background-color: #fff
.tableBox
  padding-top: 63px
.fl
  float: left
.fr
  float: right
.mr10
  margin-right: $p
.ml10
  margin-left: $p
.affix
  position: absolute
  z-index: 1
  top: 0
  left: 0
  right: 0