.detailList
  ul
    margin: 0
    padding: 0
    list-style: none

  li
    padding: 10px
    border-bottom: 1px solid #e9e9e9

.line
  margin-bottom: 5px

.success, .error
  font-size: 14px

.success
  color: #00cd00

.error
  color: #e00