doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    div#react-app
    script(type='text/javascript' src=require('./common'))
    script(type='text/javascript' src=require('../node_modules/jquery/dist/jquery.min'))
    script(type='text/javascript' src=require('../.dll/dll'))