/* 二维码打赏广告 */
.dashangImage
  width: 180px !important

/* 图标 */
.iconV5
  vertical-align: -5px !important

.iconV4
  vertical-align: -4px !important

/* 修改图标的定位 */
.iconBilibili
  top: -6px
  font-size: 32px
  vertical-align: -16px !important

.iconAcFun
  top: -13px
  font-size: 46px
  vertical-align: -30px !important