.content
  padding: 16px

.header, .title
  margin-bottom: 8px

.title
  display: inline-block
  margin-right: 6px
  font-size: 16px

.user
  margin-left: 6px
  font-size: 12px

.video
  display: block
  width: 100%
  min-height: 500px
  outline: none

/* 开发者工具 */
.flex
  display: flex

.userBox
  flex-grow: 1

.tools
  flex-shrink: 0