.templateSelect
  width: 250px !important

  \:global(.ant-select-selection-item) .deleteIcon
    display: none

.deleteIcon
  color: #f5222d
  transform: translateY(5px)

@media (prefers-color-scheme: dark)
  .deleteIcon
    color: #d32029