.optGroup, .fileGroup
  margin-bottom: 10px
.fileGroup
  height: 35px
  \:global(.has-error) :global(.ant-form-explain)
    position: absolute
    top: 10px
    right: -80px
.tishi
  padding: 7px
  font-size: 12px
.disNone
  display: none !important
.timeGroup
  margin-left: 11px
.addBtn
  margin-left: 40px
  vertical-align: -10px
.input
  width: 116px
.toolsBox
  height: 200px
.maohao
  margin: 0 5px
  vertical-align: -5px
.tableBox
  padding-top: 210px !important
.formItem
  margin-right: 0 !important
.end
  margin-left: 20px
.path
  margin-left: 10px