# https://docs.github.com/en/actions/using-github-hosted-runners/about-larger-runners/about-larger-runners

name: Build apps CI in xlarge runner (ARM)

on:
  push:
    branches:
      - 'build/v**'

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [23.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: |
          VERSION=${{ github.ref }}
          VERSION=${VERSION#refs/heads/build/v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - run: YARN_ENABLE_IMMUTABLE_INSTALLS=false npm run install:ci
        if: ${{ always() }}

      - run: npm run build:ci

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: v${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          draft: true
          prerelease: true
          files: |
            build/mac-arm64/48tools-${{ env.VERSION }}-mac-arm64.zip
            build/win-arm64/48tools-${{ env.VERSION }}-win-arm64.zip

permissions:
  contents: write