# https://docs.github.com/en/actions/using-github-hosted-runners/about-larger-runners/about-larger-runners

name: Build apps CI in xlarge runner

on:
  push:
    branches:
      - 'buildxlarge/v**'

jobs:
  build:
    runs-on: macos-latest-xlarge
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - run: |
          VERSION=${{ github.ref }}
          VERSION=${VERSION#refs/heads/buildxlarge/v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - run: npm run install:ci

      - run: npm run build:ci
        env:
          ARM64: '1'

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: v${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          draft: true
          prerelease: true
          files: |
            build/mac-arm64/48tools-${{ env.VERSION }}-mac-arm64.zip
            build/win-arm64/48tools-${{ env.VERSION }}-win-arm64.zip